@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: icomoon;
  src: url(fonts/icomoon.eot?10si43);
  src: url(fonts/icomoon.eot?10si43#iefix) format("embedded-opentype"), url(fonts/icomoon.ttf?10si43) format("truetype"), url(fonts/icomoon.woff?10si43) format("woff"), url(fonts/icomoon.svg?10si43#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

.header__container {
  padding: 0 1.3rem;
  margin: 0 auto;
}

main {
  margin-top: 60px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
}

.header__logo {
  color: #000;
  font-size: 2rem;
}

.header__logo--span {
  color: #a2c0be;
}

.header__toggler {
  display: none;
}

.header__nav-btn {
  z-index: 2000;
  cursor: pointer;
  height: 13.2px;
}

.header__menu-bg {
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.header__menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1500;
  right: -100%;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 6rem 2rem 0 0;
}

.header__item {
  padding: .5rem;
}

.header__link:link, .header__link:visited {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #000 50%);
  background-size: 250%;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.header__link:hover, .header__link:active {
  background-position: 100%;
  color: #fff;
  padding: 0 .5rem;
}

.header__toggler:checked ~ .header__menu-bg {
  height: 100vh;
  width: 60vw;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.header__toggler:checked ~ .header__menu {
  right: 0;
  opacity: 1;
}

.header__nav-icon {
  position: relative;
  margin-top: .2rem;
}

.header__nav-icon, .header__nav-icon:before, .header__nav-icon:after {
  width: 1.4rem;
  height: 1px;
  background-color: green;
  display: inline-block;
}

.header__nav-icon:before, .header__nav-icon:after {
  content: "";
  position: absolute;
  left: 0;
}

.header__nav-icon:before {
  top: .6rem;
}

.header__nav-icon:after {
  top: .3rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 50px;
  padding: .7rem 2rem;
  color: #fff;
  font-size: 1rem;
}

.btn--green {
  background-color: #a2c0be;
}

.btn--grey {
  background-color: #6c757d;
}

/*
<div class="paws">
    <span class="paws__icon"></span>
</div>
*/
.paws {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: #fff;
}

.paws--left {
  text-align: left;
}

.paws--white:before {
  color: #fff !important;
}

.paws--white:after {
  color: #fff !important;
}

.paws__icon--white:before {
  color: #fff !important;
}

.paws__icon:before {
  content: "\f1b0";
  font-family: "icomoon";
  color: #a2c0be;
  font-size: 2rem;
}

.paws:before {
  content: "\f1b0";
  font-family: "icomoon";
  color: #a2c0be;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: inline-block;
  opacity: .3;
  margin-right: 10px;
}

.paws:after {
  content: "\f1b0";
  font-family: "icomoon";
  color: #a2c0be;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: inline-block;
  opacity: .3;
  margin-left: 10px;
}

.hero {
  height: 100vh;
  overflow: hidden;
}

.hero__copyright {
  margin-top: 2rem;
  text-align: center;
}

.hero__h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__paragraph {
  color: #999;
  font-weight: 300;
  font-size: 1.2rem;
}

.hero__span {
  display: block;
}

.hero__img {
  max-width: 400px;
}

.welcome__copyright {
  text-align: center;
  margin-top: 1rem;
}

.welcome__h2 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.welcome__paragraph {
  color: grey;
  font-size: 1rem;
  margin-top: 1rem;
}

.welcome__card {
  margin-top: 4rem;
}

.welcome__card-h4 {
  font-size: 2rem;
  padding: 1rem 0 .5rem;
}

.welcome__card-paragraph {
  color: grey;
  line-height: 1.7;
}

.about {
  margin-top: 4rem;
  padding-bottom: 4rem;
  height: 100%;
}

.about__copyright {
  margin-top: 1rem;
}

.about__h4 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about__paragraph {
  padding: 1rem 0;
  font-size: 1.25rem;
  color: grey;
  line-height: 1.7;
  font-weight: 300;
}

.about__paragraph--second {
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
}

.about__item {
  padding-bottom: 1rem;
  color: grey;
}

.about__item:before {
  content: "\f1b0";
  font-family: "icomoon";
  color: #a2c0be;
  margin-right: 15px;
  font-size: 20px;
}

.about__video {
  position: relative;
  z-index: -1;
}

.about__img-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3.5rem;
  width: 3.5rem;
  background-color: #fff;
  border-radius: 50%;
}

.about__img-play-icon:after {
  content: "\f04b";
  font-family: "icomoon";
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.trainers {
  padding: 2rem 0;
  color: #516463;
  background-color: #a2c0be;
}

.trainers__copyright {
  text-align: center;
  padding-top: 1rem;
}

.trainers__h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #405a58;
}

.trainers__paragraph {
  padding: .8rem 0 4rem;
  font-size: 1rem;
}

.trainers__card-copyright {
  padding: 2rem 0;
}

.trainers__card-h4 {
  color: #405a58;
  font-size: 1.3rem;
}

.trainers__card-paragraph {
  font-size: 1rem;
  padding: 1rem 0;
}

.trainers__card-icon-item {
  display: inline-block;
}

.trainers__card-icon-link {
  color: #000;
  font-size: .8rem;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 23% 0;
  background-color: #fff;
  border-radius: 50%;
}

.trainers__card-icon-link--twitter:before {
  content: "\f099";
  font-family: icomoon;
}

.trainers__card-icon-link--instagram:before {
  content: "\f16d";
  font-family: icomoon;
}

.trainers__card-icon-link--facebook:before {
  content: "\f09a";
  font-family: icomoon;
}

.pricing {
  padding: 2rem 0;
}

.pricing__copyright {
  padding: 1rem 0;
  text-align: center;
}

.pricing__h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.pricing__paragraph {
  font-size: 1rem;
  padding: .5rem 0;
  color: grey;
}

.pricing__card {
  background-color: #a2c0be;
  color: #fff;
  text-align: center;
  padding: .8rem 0 2rem;
}

.pricing__card--grey {
  background-color: #343a40;
}

.pricing__card-h4 {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.pricing__card-paragraph {
  padding: 1rem 0;
  font-size: 3rem;
}

.pricing__card-paragraph-span {
  font-size: 1rem;
}

.pricing__card-list {
  text-align: left;
  margin-left: .8rem;
  padding-bottom: 1rem;
}

.pricing__card-list-item {
  font-size: 1rem;
  padding: .5rem 0;
}

.pricing__card-list-item:before {
  content: "\e5ca";
  font-family: icomoon;
  font-size: 1.4rem;
  margin-right: .5rem;
  text-decoration: none;
}

.pricing__card-list-item--remove {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.4);
}

.faq {
  padding: 2rem 0;
}

.faq__copyright {
  text-align: center;
  padding: 1rem 0 3rem;
}

.faq__h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.faq__paragraph {
  color: grey;
  padding-top: .5rem;
}

.faq__list {
  padding: 2rem 0;
}

.faq__list-item {
  display: inline;
}

.faq__list-item:before {
  content: "\f1b0";
  font-family: icomoon;
  color: #ccc;
  border: 1px solid #a2c0be;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
}

.faq__list-item:before:active {
  color: red;
}

.faq__list-item-question-box {
  margin-left: 2.5rem;
}

.faq__list-item-q {
  font-size: 1.2rem;
}

.faq__list-item-answer {
  font-size: .8rem;
  margin-top: .5rem;
}

.testimonial {
  background-color: #f8f9fa;
  padding: 2rem 0;
  text-align: center;
}

.testimonial__box {
  margin-top: 3rem;
}

.testimonial__h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 1rem;
}

.testimonial__paragraph {
  background-color: #a2c0be;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.378);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.378);
  font-family: 'Vollkorn', serif;
}

.testimonial__author {
  margin-top: 2.5rem;
}

.testimonial__author-img {
  border: 10px solid #a2c0be;
  border-radius: 50%;
  max-width: 100px;
}

.testimonial__author-name {
  margin-top: .5rem;
}

.gallery {
  padding-top: 2rem 0;
}

.gallery__h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 1rem 0 3rem;
}

.gallery__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__grid-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.gallery img:hover {
  -webkit-transform: scale(2x);
          transform: scale(2x);
  position: relative;
  translate: all 2s;
}
/*# sourceMappingURL=main.css.map */