.blog{
    padding: 1rem 0 2rem;

    &__intro{
        padding: 1rem 0 3rem;
        text-align: center;    
    }

    &__h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__paragraph{
        font-size: 1rem;
        color: grey;
        margin-top: .5rem;
    }

    &__post{
        padding: 1rem 0;
    }

    &__post-h4-link{
        color: #000;
        font-size: 1.3rem;
    }

    &__post-date{
        padding: .5rem 0;
        color: #b3b3b3;
    }

    &__post-link{
        color: #a2c0be;
        display: block;
        margin-top: .5rem;
    }
}

@media screen and (min-width: 992px){
    .blog{

        &__posts{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }
}