.hero{
    height: 100vh;
    overflow: hidden;


    &__intro{
        margin-top: 2rem;
        text-align: center;


    }

    &__h1{
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__paragraph{
        color: #999;
        font-weight: 300;
        font-size: 1.2rem;
    }

    &__span{
        display: block;
    }


    &__img{
        max-width: 400px;
    }
}

@media screen and (min-width: 992px){
    .container{
        width: 60%;
    }

    .hero{

        &__intro{
            text-align: left;
            margin-top: -4rem;
        }

        &__h1{
            font-size: 4rem;
        }

        &__content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            height: 97vh;
        }

        &__img-box{
            align-self: end;
        }

        &__img{
            max-width: 500px;
        }
    }

    .welcome{

        &__card{
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        &__card-text{
            padding: 0 2rem;
        }

        &__card-img--order{
            order: 1;
        }

        &__card-img:hover{
            box-shadow: 10px 10px #a2c0be;
            transition: all .5s;
        }
    }
}

.welcome{

    &__intro{
        text-align: center;
        margin-top: 1rem;
    }

    &__h2{
        font-size: 1.9rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2;
    }

    &__paragraph{
        color: grey;
        font-size: 1rem;
        margin-top: 1rem;
    }

    &__card{
        margin-top: 4rem;
    }

    &__card-h4{
        font-size: 2rem;
        padding: 1rem 0 .5rem;
    }

    &__card-paragraph{
        color: grey;
        line-height: 1.7;
    }

}